# Node.js
node_modules/
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs
*.log

# OS
.DS_Store
Thumbs.db

# Build output
/dist
/build
.next
out

# VSCode
.vscode/

# Others
coverage/
*.local

# Optional: ignore lock files if not using them for deployment
# package-lock.json
yarn.lock 